/* form label styling */
.ready-forms-label {
	display: block;
	margin-bottom: 5px;
}

/* text input styling */
.ready-forms-text {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:10px; 
	font-family: 'Arial', 'sans-serif'; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
}
.ready-forms-text:hover {
	border:1px solid #424242;
}
.ready-forms-text:focus {
	border:1px solid #4d90fe;
	outline: none; 
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.ready-forms-text-required {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:10px; 
	font-family: 'Arial', 'sans-serif'; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
}
.ready-forms-text-required:hover {
	border:1px solid #424242;
}
.ready-forms-text-required:focus {
	border:1px solid #4d90fe;
	outline: none; 
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

/* email input styling */
.ready-forms-email {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:10px; 
	font-family: 'Arial', 'sans-serif'; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
}
.ready-forms-email:hover {
	border:1px solid #424242;
}
.ready-forms-email:focus {
	border:1px solid #4d90fe;
	outline: none; 
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
.ready-forms-email-required {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:10px; 
	font-family: 'Arial', 'sans-serif'; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
}
.ready-forms-email-required:hover {
	border:1px solid #424242;
}
.ready-forms-email-required:focus {
	border:1px solid #4d90fe;
	outline: none; 
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}
/* textarea styling */
.ready-forms-textarea {
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	padding:10px; 
	font-family: 'Arial', 'sans-serif'; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:300px;
	height: 150px;
}
.ready-forms-textarea:hover {
	border:1px solid #424242;
}
.ready-forms-textarea:focus {
	border:1px solid #4d90fe;
	outline: none; 
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5); 
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}